@using Semprini.Mattia._5i.XMLReadWrite
@model Persone


@{
    ViewBag.Title = "View";
    int i = 0;
}

@using (Html.BeginForm("NewData", "Default"))
{

   <form>
        <table class="table" border="1">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Cognome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Indirizzo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Numero)
                </th>

            </tr>
           
            @foreach (var item in Model.Persons)
            {
                item.ID = i;
                <tr>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Nome, new { htmlAttributes = new { @class = "form-control" } })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Cognome, new { htmlAttributes = new { @class = "form-control"} })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Indirizzo, new { htmlAttributes = new { @class = "form-control"} })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.Numero, new { htmlAttributes = new { @class = "form-control"} })

                    </td>
                    <td colspan="4">
                        @Html.ActionLink("Edit", "NewData") 
                    </td>
                </tr>
            i++;
                
            }
           

        </table>
        </form>
}

